<div class="error">
  @if( error$ | async; as errors){
  <!-- @for(let error of errors; trackBy $index ){
    <li> {{errors | json}}</li> -->
    <span><b>{{errors.name}}</b> {{errors.message}}</span>
  <!-- } -->
}
</div>
<ng-template #tableHeader>  
  <button nz-button (click)="addNewRow()" nzType="primary" [disabled]="editId!=0">  
    <span nz-icon nzType="plus"></span> UI Types ({{count$ | async}})
  </button>
</ng-template>
@if (uiTypesAll$ | async; as uiTypes) {
<nz-table
  [nzTitle]="tableHeader"
  [nzLoading]="isLoading$ | async"
  nzSize="small"
  nzTableLayout="fixed"
  [nzPageSize]="5"
  #uiTypesTable
  [nzLoading]="store.isLoadingState$ | async"
  [nzData]="uiTypes"
>
  <thead>
    <tr>
      <th nzLeft>Type</th>
      <th>Description</th>
      <th>Pattern</th>
      <th nzRight>Action</th>
    </tr>
  </thead>
  <tbody>
    @for(data of uiTypesTable.data; track $index){
    <tr>
      @if(editId !== data.id){
      <td nzLeft>{{ data.name }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.pattern }}</td>
      <td nzRight>
        @if(editId==0){
        <nz-button-group>
          <button
            nz-button
            type="button"
            (nzOnConfirm)="onRemoveConfrim(data.id)"
            [nzBeforeConfirm]="beforeRemoveConfirm"
            (nzOnCancel)="resetEdit()"
            nz-popconfirm
            nzPopconfirmTitle="Sure to Delete?"
          >
            <span nz-icon nzType="delete"></span>
          </button>
          <button nz-button type="button" (click)="startEdit(data)">
            <span nz-icon nzType="edit"></span>
          </button>
        </nz-button-group>
        }
      </td>
      }
    </tr>
    }
  </tbody>
</nz-table>
}@else {
  <nz-empty nzNotFoundImage="simple"></nz-empty>
}
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="{{editId > 0 ? 'Edit': 'Add'}} Ui Type"
  (nzOnCancel)="resetEdit()"
>
  <div *nzModalContent>
    <form [formGroup]="form" (ngSubmit)="onSubmit(activeUiType)">
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="activeUiType"
      ></formly-form>
    </form>
  </div>
  <div *nzModalFooter>
    <nz-button-group>
      <button nz-button nzType="default" (click)="resetEdit()">Cancel</button>
      <button
        nz-button
        nzType="primary"
        type="button"
        (click)="onSubmit(activeUiType)"
        [disabled]="form.invalid"
        [nzLoading]="isConfirmLoading"
      >
        <span nz-icon nzType="save"></span>Submit
      </button>
    </nz-button-group>
  </div>
</nz-modal>