<nz-layout>
  <nz-header>
    <div class="header-logo">
      <img nz-icon [src]="'assets/svgs/angular-logo.svg'" alt="Logo" />
      <!-- <app-svg-icon path="assets/svgs/angular-logo.svg"></app-svg-icon> -->
    </div>
    <div class="header-menu">
      <ul nz-menu nzMode="horizontal" class="header-menu">
        @for(navItem of navTabsData; track $index){
        <li
          nz-menu-item
          routerLinkActive="ant-menu-item-selected"
          [routerLink]="navItem.path"
        >
          {{ navItem.title }}
        </li>
        }
      </ul>
    </div>
    <div class="header-setting">
      <img nz-icon [src]="'assets/svgs/github-logo.svg'" alt="Logo" />
      <nz-switch
        [(ngModel)]="darkModeOn"
        nzCheckedChildren="🌚"
        nzUnCheckedChildren="🔆"
        (ngModelChange)="loadTheme(false)"
      ></nz-switch>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible>
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="Side Nav 1">
          <ul>
            @for(navItem of navTabsData; track $index){
            <li
              nz-menu-item
              routerLinkActive="ant-menu-item-selected"
              [routerLink]="navItem.path"
            >
              {{ navItem.title }}
            </li>
            }
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <!-- <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <nz-content><router-outlet></router-outlet></nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
